@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

body {
  background: #f1f1f1;
  margin: 30px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background: rgb(254 230 255);
  margin: 0px 2px 10px 2px;
  border-radius: 28px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0 20px;
}

.navbar ul li {
  margin-right: 10px;
  padding: 10px;
}

@media (max-width:400px) {
  .navbar ul li {
    margin-right: 5px;
    padding: 5px;
  }
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar ul li :hover {
  text-decoration: underline;
}

.navbar ul li :last-child {
  margin-right: 0;
}

.navbar ul li :first-child {
  margin-left: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header {
  margin-top: 60px;
}

@media (max-width:560px) {
  .header {
   margin-top: 90px;
   text-align: center;
   font-size: 0.8rem;
  }
}

@media (max-width:400px) {
  .header {
   margin-top: 105px;
  }
}

.header img {
  width: 450px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

@media (max-width:400px) {
  .header img {
  width: 330px;
  height: 210px;
  }
}

.describe {
  width: 250px;
  height: 300px;
  float: left;
  margin: 7px 7px 7px 0; 
}

.botanic {
  width: 250px;
  height: 300px;
  float:left; 
  margin: 7px 7px 7px 0; 
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.image {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 12px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  margin-top: 20px;
}

@media (max-width:750px) {
  .container h2 {
   margin-top: 60px;
  }
}

@media (max-width:400px) {
  .container h2 {
   margin-top: 75px;
  }
}

#desc {
  margin-top: 25px;
}

@media (max-width:685px) {
  #desc {
   margin-top: 60px;
  }
}

@media (max-width:400px) {
  #desc {
   margin-top: 70px;
  }
}

#user {
  margin-top: 25px;
}


@media (max-width:685px) {
  #user {
   margin-top: 60px;
  }
}

@media (max-width:400px) {
  #user {
   margin-top: 70px;
  }
}

.chmel {
  width: 300px;
  height: 250px;
  float:left; 
  margin: 7px 7px 7px 0; 
}

.losy {
  width: 300px;
  height: 250px;
  float:left; 
  margin: 7px 7px 7px 0; 
}

.footer {
  border: 4px solid red;
  border-radius: 8px;
  background:#e5ffe7;
  padding: 5px;
  margin-top: 15px;
}

.footer h2 {
  color: red ;
  text-align: center;
}

.content {
  background: #e5ffe7;
  padding: 50px;
  font-size: large;
}

@media (max-width:400px) {
  .content h2 {
   margin-top: 20px;
  }
}

.anti h2 {
  margin-top: 80px;
}

@media (max-width:400px) {
  .anti h2 {
   margin-top: 110px;
  }
}

.anti p {
  font-size: large;
  line-height: 1.5;
}

.page {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
} 

.page-c {
  margin-top: 120px;
   font-style: italic;
   text-align: center;
 } 

 .page-a {
  margin-top: 100px;
   font-style: italic;
   text-align: center;
 } 
